<%- contentFor( 'body') %>
<div class="centertext">
    <h1 class="h1">Essa é a página home!</h1>
    
</div>
<div class="centerimg">
    <img src="./images/homeIMGtiny.png" alt="imagem do gato Pusheen com um coração em cima da cabeça dele.">
</div>